@model IEnumerable<BookStore.Models.domins.Book>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart</title>
    <link href="~/css/styless.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/cartstyle.css" media="screen" title="no title" charset="utf-8">
    <meta name="robots" content="noindex,follow" />
  </head>
  <body>
    <div class="shopping-cart">
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/home/usermain">Home</a></div>
        </div>
        <h1 style="color:limegreen;padding:22%;background-color: darkcyan;}">
            successful operation
            <span style="font-size:100px;color:green;padding:20%;margin-left:12%;">&#10003;</span>
            
        </h1>
    </div>

        
  </body>
</html>
